/* From https://stackdiary.com/snippet/hover-tooltip-javascript/ */

.tooltip-container {
    position: absolute;
    display: flex;
    place-content: center;
}

/* styling of the tooltip display */
.tooltip-paragraph {
    display: none;
    white-space: nowrap;
    position: absolute;
    top: -60px;
    z-index: 100;
    background: #ffff80;
    padding: 8px;
    font-size: 0.7rem;
    color: #000;
    border-radius: 2px;
    animation: fadeIn 0.4s;
}

/* optional styling to add a "wedge" to the tooltip */
.tooltip-paragraph:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-top: 8px solid #ffff80;
}

@keyframes fadeIn {
 from { opacity: 0; } to { opacity: 1; }
}
